body{
    font-family: 'Nunito Sans', sans-serif;
    background-image: linear-gradient(black,pink);
    background-size: cover;  
    background-repeat: no-repeat;
}

#card{
    background: white;
    margin: 300px 500px 300px 500px;
    text-align: center;
    padding: 10px;
}

#card img{
    width: 350px;
    height: 350px;
    border-radius: 20%;
}

hr{
    width: 400px;
}


h1{
    color: #000000;
}
img{
    width: 100px;
    height: 40px;
}